body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    line-height: 1.6;
}

.header {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
    font-family: serif;
    margin: 0 0 0 0;
    font-size: 36px;
}

.header p {
    color: #7f8c8d;
    margin: 0;
    font-size: 16px;
}

.container {
    height:fit-content
}

#symbol_map {
    width: 100%;
    height: 580px;
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-top: 20px;
}

.map-textbox {
    position: absolute;
    top: 295px;
    left: 660px;
    width: 320px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    font-size: 13px;
}

#bar_chart {
    width: 530px;
    height: 535px;
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-top: 20px;
    padding-left: 10px;
}

.bar-textbox {
    position: absolute;
    top: 1220px;
    left: 30px;
    width: 500px;
    font-size: 13px;
}

.footer {
    text-align: left;
    margin-top: 10px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 12px;
    color: "black";
}

.footer p {
    margin: 5px 0;
}
